ObjectPooling copy/Temp/FSTimeGet-6baed70f126ea481591bfaf0655a64cc
ObjectPooling copy/Temp/FSTimeGet-b6a0edfbc92784cdc9738bcb47c11b63
ObjectPooling copy/Temp/FSTimeGet-d46bc71196808460c877009624c2cca6
ObjectPooling copy/Temp/UnityLockfile
ObjectPooling copy/Temp/workerlic
ObjectPooling copy/Temp/obj/Debug/Assembly-CSharp/.NETStandard,Version=v2.1.AssemblyAttributes.cs
ObjectPooling copy/Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.AssemblyReference.cache
ObjectPooling copy/Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.GeneratedMSBuildEditorConfig.editorconfig
ObjectPooling copy/Logs/AssetImportWorker0.log
ObjectPooling copy/Logs/AssetImportWorker1.log
ObjectPooling copy/Logs/shadercompiler-AssetImportWorker0.log
ObjectPooling copy/Logs/shadercompiler-UnityShaderCompiler0.log
ObjectPooling copy/Logs/shadercompiler-UnityShaderCompiler1.log
ObjectPooling copy/Logs/shadercompiler-UnityShaderCompiler2.log
ObjectPooling copy/Logs/shadercompiler-UnityShaderCompiler3.log
ObjectPooling copy/Logs/shadercompiler-UnityShaderCompiler4.log
ObjectPooling copy/Library/ArtifactDB
ObjectPooling copy/Library/ArtifactDB-lock
ObjectPooling copy/Library/EditorInstance.json
ObjectPooling copy/Library/ilpp.pid
ObjectPooling copy/Library/SceneVisibilityState.asset
ObjectPooling copy/Library/SourceAssetDB
ObjectPooling copy/Library/SourceAssetDB-lock
ObjectPooling copy/Library/Artifacts/22/22064bf3111200c0977a649925de7b48
ObjectPooling copy/Library/Artifacts/61/61daf61a4dd819310f2f3f5031206ce2
ObjectPooling copy/Library/Artifacts/74/746c019c167f345128c3b10ffd9b0a47
ObjectPooling copy/Library/Artifacts/87/8738867954921ada3cc8d64a0d93a5a8
ObjectPooling copy/Library/Bee/200b0aE.dag_fsmtime
ObjectPooling copy/Library/Bee/backend1.traceevents
ObjectPooling copy/Library/Bee/fullprofile.json
ObjectPooling copy/Library/Bee/tundra.digestcache
ObjectPooling copy/Library/Bee/tundra.log.json
ObjectPooling copy/Library/Bee/TundraBuildState.state
ObjectPooling copy/Library/Bee/TundraBuildState.state.map
ObjectPooling copy/Library/BurstCache/JIT/Hashes/0ad51b0a4cdc4732c12aaa2644f46ab1.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/0bbc16e64e118ef7240c57f9f6c0578e.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/0ccec1f58febc9bc1d3f969de381d037.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/0fb0ceb263209656b8ea977b7b059a49.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/1b32dd62c44741036c1a7c4dfd861a5f.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/1cca87f842d313a71ecf513afd6faf79.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/3aa7767756913884e27019266e846ff5.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/3dc5897da031517a8d5ab0e81f722310.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/4a11bc8a23c1cfa0f4923becd8b6a98b.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/4cd2067a9c7035b9e3fe2ec28d0b2ace.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/4eaed8e030c246f2557ec486e9b74a33.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/5ed5015b734bdfe5c2aa268fb2708b8c.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/6bacc24f8fbd0569ff1b62fefb1417dc.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/6c10d3a2e8f9cdfc505d056c8a777469.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/7d76c20fccc10af20d4b5ceffcdda761.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/07e4275e93bdfafb968c284023fc9820.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/8bd375117381c8f40ed1fc10f10e1697.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/9abcd854fd63ed8e9eceb5239fe39d47.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/9c53d1adad94ad02b3f2930c4ac7f801.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/9ef1acec82284b592e2382d67f6f635b.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/10fcbea22543c5442693fd8a7d25c17e.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/11ce385ef2ad07f7710380c5130b3691.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/16cf436503ef8bccba8ca71239fe8d68.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/18fa6933645151a17239f4542b29a793.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/42fb5e00e5ed806e79050c5cb1ed6a88.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/52ab6eb192105452d4b5f129a6078337.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/53a447354fede0803cf639cd158afe68.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/70eb39d339ec82225226c785818905c8.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/73bd93db7a0ee5bdbe167a19b44ce084.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/88f24d168e99e02023014456a6f41c1b.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/93b34e3e57ed63d7141cff3daca95296.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/310b72de717d9b4b95e00f776461f6e0.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/408cd4a290c7c13b57d05638f468e037.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/863b94390255051efa675ad42b819026.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/875b3e2512e379b43c399e9524a28999.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/884aca2c643c62d26e43bae87904707e.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/956ee2690c47100590d45898f5cbd54f.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/4258b758518b3e2b3020cff3a9542d05.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/6456d937994de7c720ef487bb1bf66e8.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/7137a5c6727cd39587d613225befd2da.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/7322ae7f772efb7e9693c08271a6f2c3.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/8262a0c5a737acb51f187b979f8f1cdb.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/75745a22b2b24b4888098c63010cba71.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/82498bc5c17bc5a48f5a2dea1fb2b9e9.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/a110ffe6b760e4b56cb86ae44bc7857d.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/b18848a788ca5347ce18210a703f2d41.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/b535913a76a8e8f66cc957c08bc67b67.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/be670e090ff3e42fb24aaadc6942ac7a.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/beb497e134b24e0d443f6a91ee099283.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/beceab8afacc46b55a2754c784654711.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/befdae3f37b3d00eeab79e36cdae5994.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/c2a23f44a5662aa84e9ce05a03a5c697.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/c86ed7598bd91057bc1f5b7c62af9475.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/c6749f40e05781087eb92649725e2f6f.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/c18595ec66b5d2d8a90beeeeae8aef29.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/d8063d0c2ebb142d8be0526aa6bfe83c.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/e7fceaab916b3ed638ca31b812ac05a1.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/e81f7d00c5ff9ada70bf1defd0993a6f.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/e280f7a2a7bd4e990528db890a95b139.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/e331c7b1fa5090f90a7bd7c89ae8bb33.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/eb5762c176c563408800b67be30a9bca.bhc
ObjectPooling copy/Library/BurstCache/JIT/Hashes/f1b9c62948ad793479a2eea513614212.bhc
ObjectPooling copy/Library/Search/transactions.db
ObjectPooling copy/Library/ShaderCache/EditorEncounteredVariants
ObjectPooling copy/Library/ShaderCache/builtin/unity_builtin_extra0000/00/07a697a4f82b2d89d0662485316cb000.bin
ObjectPooling copy/Library/ShaderCache/builtin/unity_builtin_extra0000/00/93d357b9a54c575191c98aee1c821387.bin
ObjectPooling copy/Library/ShaderCache/builtin/unity_builtin_extra0000/00/1846e9fe1c2e2072342b763be2161602.bin
ObjectPooling copy/Library/ShaderCache/builtin/unity_builtin_extra0000/00/860250a936bc573016ad236b6e6751ee.bin
ObjectPooling copy/Library/ShaderCache/builtin/unity_builtin_extra0000/00/d187331fc0b3a45eaed12fe856585062.bin
ObjectPooling copy/Library/ShaderCache/builtin/unity_builtin_extra0000/00/fca126db64b94244140d738120be2e06.bin
/[Ll]ibrary/*
/[Tt]emp/*
/[Oo]bj/*
/[Bb]uild/*
/[Bb]uilds/*
/[Uu]ser[Ss]ettings/*
**/Assets/AssetStoreTools*